

body{
  margin: 0;
  padding: 0;
  position: absolute;
  background: url(BG_Decor.png);
  height: 400px;
  max-width: 100%;
    background-size: cover;
   background-position: 0 0;
   background-repeat: repeat-x;
}






#monster{
    position: absolute;
    top: 0%;
    left: 0%;
    margin-top: 200px;
    width: 600px;
    height: 600px;
    z-index:  100; ;
    
}

#Knight{
  position: absolute;
  top: 10%;
  left: 10%;
  margin-top: 200px;
 
  
  z-index: 50;


    width: 218.5px;
    height: 296px;
    background-image : url(Knight\ Running.png);
    animation: moveX 1s steps(10) infinite;
  }
  @keyframes moveX{
    from{background-position-x:0px;}
    to{background-position-x:220px;}
  }






 /* #mage{
    position: absolute;
    top: 20%;
    left: 20%;
    margin-top: 200px;
    width: 400px;
    height: 700px;
    z-index: 50;
}

#rouge{
  position: absolute;
  top: 30%;
  left: 30%;
  margin-top: 200px;
  width: 400px;
  height: 700px;
  z-index: 50;
}
*/
        
