

body{
  margin: 50;
  padding: 50;
  position: absolute;
  background: url(back.jpg);
  height: 100%;
  width: 100%;
    background-size: 65%;
   background-position: 0 0;
   background-repeat: repeat-x;
}




#monster{
    position: absolute;
    top: 0%;
    left: 0%;
    margin-top: 200px;
    width: 600px;
    height: 600px;
    z-index:  100; ;
    
}