 body {
    background-image: url('BG_Decor.png');
    border-image: url('1mage.pgn');
}


body {margin: 0; padding: 0;}
.welcome { 
    font-size: 100px;
    color: red;
    text-shadow: -5px 10px 10px #444;
    text-align: center;
    margin: 200px auto;
    font-family: 'Times New Roman', Times, serif;
}


.button1{
    position: absolute;
    left: 40%;
    top: 40%;
    background-color: #4caf50; /*green */
    border: none;
    color: black;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
 }

.button2 {
    position: absolute;
    left: 40%;
    top: 50%;
    background-color: #4caf50; /*green */
    border: none;
    color: black;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    }

h1 {
    font-size: 100px;
    color: red;
    text-shadow: -5px 10px 10px #444;
    text-align: center;
    margin: 200px auto;
    font-family: 'Times New Roman', Times, serif;
    
    }


p { 
    font-size: 20px;
    color: red;
    text-shadow: -5px 10px 10px #444;
    left: 40%;
    top: 50%;
    padding: 15px 35px;
    text-align: center;
    
    }
